body {
    background-color: grey
}
.post-container {
 background-color: white;
 width: 500px;;
 margin: auto;
 margin-top: 50px;
 border-radius: 10px;
}
.header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 10px;
    font-family:helvetica;
    font-size:larger;
    align-items: center;
}
#location {
    color:grey;
    font-size: small;
}
#comments {
    color:gray;
}
#date {
    color:gray;
    font-size: small;
}
.img {
    width: 100%;;
}
.icons {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 5px;
    font-size: 25px;
    
}

.fa-regular {
    margin: 10px;
}


.foot {
    margin:auto;
    padding: 10px;
    font-family:helvetica;
}
a {
    text-decoration: none;
}




